.navbar {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-link {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-link:hover {
  background-color: #555;
}

.navbar-link.active {
  background-color: #555; 
  color: white;
  border-radius: 10%;
}
