.skills-container {
  text-align: center;
  margin: 100px auto 0; /* Add top margin to account for the navbar */
  padding: 20px;
}

.skills-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.skills-container ul {
  list-style-type: none;
  padding: 0;
}

.skills-container li {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
